.space {

    background-image: url("https://stepik.org/media/attachments/lesson/452681/space.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.planet-area {
    display: flex;
    align-items: flex-end;
    width: 50%;
    height: 100vh;
    position: relative;



}
.planet{
    z-index: 0;
}

.rocket {
    z-index: 1;
    position: relative;
    left: -25%;
    bottom: 10%;
    transform: rotate(25deg);

}

.control-panel{
    display: flex;
    background-color: blue;
    overflow: hidden;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
    position: absolute;
    right: 40px;
    bottom: 40px;
    height: 40%;
    width: 40%;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.control-panel__inner{

    height: 100%;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid #0e73ee;
    background-color: #504f4f;
    width: 95%;
    height: 90%;


}
#password{
    border-radius: 25px;
    color: yellow;
    background-color: #504f4f;
    border: 2px solid #ffff00;
    text-align: center;

}
::placeholder{
    color: yellow;
}

input[type=range]{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical;


}
.check-buttons{

    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#ok{
    border-radius: 25px;
    width: 40px;
}
#ok:hover{

    background-color: red;
}
.levers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#launch{
    border-radius: 25px;
    width: 100px;
    height: 50px;
}
#launch:hover{
    background-color: red;
}